.content__title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    color: #8F2D56;
    text-transform: uppercase;
}

.separador{
    background-color: #ff8e72;
    width: 400px;
    margin: 10px;
    height: 3px;
    border-radius: 100px;
}

.our-team .pic{
    border-top: 5px solid #ff8e72;
    border-bottom: 5px solid #ff8e72;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our.team .pic img{
}
.our-team:hover .pic{
    border-top-color: #8f2d56;
    border-bottom-color: #8f2d56;
    border-radius: 50% 0;
}
.our-team .pic img{
    width: 300px;
    height: auto;
    transition: all 0.5s ease 0s;
    border-radius: 50%;
    
}
.our-team .team-content{ padding: 20px 0; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #8f2d56;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 17px;
    color: #878484;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
}
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #8f2d56;
    background: #fff;
    font-size: 17px;
    color: #8f2d56;
    text-align: center;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.our-team:hover .social li a{
    background: #8f2d56;
    color: #fff;
}

@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}