:root{
    --bg-hover:#E16045;
    --bg-white:#fff;
    --text-white: #fff;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    width: 100%;
}

.headerInfo{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.headerInfo__logo{
    width: 10%;
    min-width: 200px;
}
.headerInfo__img{
    width: 150px;
}

.headerInfo__content{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    min-width: 860px;
    padding: 20px;
}

.headerInfo__content__object{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 15px;
}

.object__img{
    width: 40px;
    height: 40px;
}
.object__link{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #E16045;
    width: 167px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 700;
}

.object__link--movil{
    display: none;
}

.object__link:hover{
    background-color: #E83C19;
    color: #fff;
}

.object__text--link{
    color: #000;
    text-decoration: none;
}

.object__text--link:hover{
color: #E83C19;
}

/**********************************************************/
.header__menu{
    width: 100%;
    height: 60px;
    background-color: #313341;
    display: flex;
    justify-content: center;
    margin: 0;
}

.header__menu--items{
    display: flex;
    list-style: none;
    gap:2em;
    height: 60px;
    align-items: center;
    font-size: 20px;
}

.header__menu--link{
    color: #fff;
    text-decoration: none;
}

.header__menu--link:hover{
    color: #E83C19;
}

.submenu--items{
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: var(--bg-hover);
    display: none;
}

.submenu--item{
    padding: 10px;
    font-size: 18px;
}

.submenu--link{
    color: var(--text-white);
    text-decoration: none;
    text-transform: capitalize;
}

.submenu--item:hover, .submenu--link:hover{
    color: var(--text-white);
    background-color: red;
}

.header__menu--item:hover > .submenu--items{
    display: block;
}
.menu__splot{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splot__button{
    border: none;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-hover);
    padding: 0;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.splot__button img{
    width: 32px;
    height: 32px;
}

/***********************************************************/
/********************Slider************************/
.slider{
    width: 100%;
    background-image: url(../img/slides/image1.png);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.slider__content{
    width: 1200px;
    margin: 0 auto;
    height: 250px;
}

.slider__content--items{
    width: 400px;
}

.slider__title{
    font-size: 35px;
    color: #fff;
}

.slider__text{
    font-size: 22px;
    color: #fff;
}
.slider__buttons{
    display: flex;
    gap:1em;
}
.slider__contact{
    width: 192px;
    height: 53px;
    background-color: #E16045;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.slider__team{
    width: 192px;
    height: 53px;
    font-size: 17px;
    background-color: #fff;
    border:none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #E16045;
}

.slider__contact:hover{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fff;
    color: #E16045;
}

.slider__team:hover{
    background-color: #E16045;
    color: #fff;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*About*/
.about{
    width: 90%;
    margin: 30px auto;
}

.about__content{
    padding: 30px;
    border: 1px solid #E16045;
    border-radius: 4px;
}

.about__title{
    font-weight: 400;
    font-family: serif;
}

.about__text{
    text-align: justify;
    font-weight: 400;
}

.about__link{
    color: #E16045;
    font-size: 18px;
    text-decoration: none;
    background-image: url(../img/svg_icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    width: 150px;
}

.footer{
    width: 100%;
    min-height: 100px;
    background-color: #313341;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__text{
    color: #fff;
}

.footer a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.footer a:hover{
    color: var(--bg-hover);
}
@media screen and (max-width: 830px){
    .splot__button{
        display: flex;
    }
    
    .header{
        height: auto;
    }
    .headerInfo{
        justify-content: space-between;
    }
    .headerInfo__content{
        display: none;
    }
    
    .header__menu{
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    .header__menu--items{
        flex-direction: column;
        text-align: left;
        height: auto;
        padding: 2px;
        gap:0.9em;
        display: flex;
        align-items: flex-start;
    }
    
    .header__menu--item{
        text-align: left;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        padding-right: 20px;
    }
    .submenu--items{
        position: relative;
        margin-left: 30px;
    }
    
    .object__link--movil{
        display: flex;
    }
    
}




