/*Adminision*/
.admision{
    margin-bottom: 40px;
}
.admision .col-md-4{
    min-width: 400px !important;
    padding: 10px;
    border: 10px solid var(--bg-hover);
    border-radius: 5px;
    margin: 2px;
    border-style:outset;
}
/*Illustracion*/
.illustration{
    width: 200px;
}

.row{
    gap: 2em;
    column-gap: 0em;
}

.contact-text{
    font-size: 20px;
}

.fa-solid{
    margin-right: 20px;
}

.contact-text p{
    padding-left: 40px;
}

.contact-text a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.contact-text a:hover{
    color: #8f2d56;
    text-decoration: none;
}

#form-contact label{
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
}

#form-contact input{
    padding-left: 32px;
}