/*Adminision*/
.admision{
    margin-bottom: 40px;
}
.admision .col-md-4{
    min-width: 400px !important;
    padding: 10px;
    border: 10px solid var(--bg-hover);
    border-radius: 5px;
    margin: 2px;
    border-style:outset;
}
/*Illustracion*/
.illustration{
    width: 200px;
}

.row{
    gap: 2em;
    column-gap: 0em;
}